html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

/*USER DEFINED*/

/*center of screen alignment*/
.outer_container {
    display:table;
    height:100%;
    width:100%;
    text-align:center;
}

.inner_container {
    display:table-cell;
    height:100%;
    width:100%;
    vertical-align:middle;
}

.main-header .logo {
	background-color: #003d6d !important;
}

.main-header .navbar {
	background-color: #0059a0 !important;
}

.main-sidebar {
    background: #0059a0 !important;
}

.main-sidebar .panel {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: #0059a0;
    border: 0 !important;
}

.main-sidebar ul li a {
    border: 0 !important;
    color: #fff;
    border-bottom: 1px solid #003d6d !important;
}

.main-sidebar ul li a:hover,
.main-sidebar ul li a:active,
.main-sidebar ul li a:focus,
.main-sidebar ul li.active a,
.main-sidebar ul li.active a:hover {
    background: #428fcc;
    color: #fff;
}

.main-sidebar ul li a .indicator {
    color: #fff;
}

.main-sidebar ul li.active ul li a {
    background: #003d6d;
    color: #fff;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*SIDEBAR COLLAPSE CODE*/
/*.main-sidebar ul li.active a.kv-toggle span.closed {
    display: none !important;
}*/

body.sidebar-collapse .main-sidebar ul li a span.sidebarText,
body.sidebar-collapse .main-sidebar ul li a span.closed,
body.sidebar-collapse .main-sidebar ul li a span.opened {
    /* display: none !important; */
    height:0;
    width:0;
    font-size:0;
    overflow: hidden;
}